<footer class="footer">
    <p>
        <span class="name">Diaa E.</span> © 2025 - <%= (new Date).getFullYear() %>
    </p>
    <a class="button-link" href="https://github.com/Diaa-E/simple-informational-site">Source Code</a>
</footer>