<nav class="navbar">
    <a href="/" class="home-link">Simple Informational Site</a>
    <ul>
        <% links.map((link) => { %>
            <li>
                <a class="nav-link" href="<%= link.href %>">
                    <span class="<%= activeTab === link.text ? "active" : "" %>">
                        <%= link.text %> 
                    </span>
                </a>
            </li>
        <% }) %>
    </ul>
</nav>