<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Informational Site - Authors</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include("components/navbar", { activeTab: "Authors" }) %>
    <div class="content">
        <h1 class="page-title">Authors</h1>

        <% if (author !== null && allAuthors === null) { %>
            <%- include("components/infoCard", { author: author }) %>
        <% } %>

        <% if (author === null && allAuthors !== null) { 
            allAuthors.forEach(author => { %>
                
            <%- include("components/infoCard", { author: author }) %>
        <% })
        } %>
    </div>
    <%- include("components/footer", {}) %>
</body>
</html>