<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Informational Site - Error</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/error.css">
    <link rel="shortcut icon" href="/images/favicon.svg" type="svg/xml">
    <script type="module" src="/js/error.js" defer></script>
</head>
<body>
    <%- include("components/navbar", {activeTab: ""}) %>
    <div class="content background">
        <h1 class="error">
            <span class="hidden-text">Error</span>
            <span class="visible-text"></span>
        </h1>
        <h2 class="error-message"><%= status %></h2>
        <h2 class="error-message"><%= message %></h2>
    </div>
    <%- include("components/footer", {}) %>
</body>
</html>