<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Simple Informational Site - Home</title>
        <link rel="stylesheet" href="/css/common.css">
        <link rel="stylesheet" href="/css/index.css">
        <link rel="shortcut icon" href="/images/favicon.svg" type="svg/xml">
        <script type="module" src="/js/index.js" defer></script>
    </head>
    <body>
        <%- include("components/navbar", {links: links, activeTab: ""}) %>
        <div class="content background">
            <h1 class="page-title">
                <span class="hidden-text">Simple Informational Site</span>
                <span aria-hidden="true" class="visible-text"></span>
            </h1>
            <h2 class="hero">
                A practice project focused on the MVC pattern using Express JS.
                <a class="button-link" href="/about">Learn More</a>
            </h2 class="hero">
        </div>
        <%- include("components/footer", {}) %>
    </body>
</html>