<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Simple Informational Site - Home</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <%- include("components/navbar", {links: links, activeTab: ""}) %>
        <h2 class="page-title">Users</h2>
        <ul>
            <% users.forEach((user) => {%>
                <%- include("users/user", { user: user }) %>
            <% }) %>
        </ul>
        <%- include("components/footer", {}) %>
    </body>
</html>