<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Simple Informational Site - Home</title>
        <link rel="stylesheet" href="/css/common.css">
        <link rel="stylesheet" href="/css/index.css">
        <link rel="shortcut icon" href="/images/favicon.svg" type="svg/xml">
    </head>
    <body>
        <%- include("components/navbar", {links: links, activeTab: ""}) %>
        <div class="content">
            <h1 class="page-title">Simple Informational Site</h1>
            <h2 class="hero">A practice project focused on the MVC pattern using Express JS.</h2 class="hero">
        </div>
        <%- include("components/footer", {}) %>
    </body>
</html>