.hero{
    text-align: center;
    color: var(--text);
    margin: auto 0;
}

.background{
    background-image: url("../images/home.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}