.field-label{
    color: var(--text);
}

.form-group:has(.textbox:required) .field-label::after{
    content: " *";
}

.form-group{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-group:focus-within .field-label{
    color: var(--text-title);
}

.new-form{
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
    background-color: var(--bg-light);
    padding: 20px;
}

.new-form:focus-within{
    outline: solid 1px var(--text-title);
}

.button-submit{
    margin-top: 20px;
}

.note{
    color: var(--text);
    font-size: .8rem;
}

.form-error{
    color: var(--error);
}