:root{

    --bg: #37353e;
    --bg-light: #44444e;
    --text: #d3dad9;
    --text-title: #d3bf72;
    --active: #67b5e8;
    --error: #e86767;
}

*{
    font-family: Courier, monospace;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
    background-color: var(--bg);
    min-height: 100dvh;
}

.error{
    color: var(--error);
    text-align: center;
}

.error-message{
    color: var(--text);
    text-align: center;
}

.navbar{
    background-color: var(--bg-light);
    display: flex;
    place-items: center;
    place-content: center;
    justify-content: space-between;
    padding: 30px 200px;
}

.navbar .nav-link, .nav-link:visited{
    text-decoration: none;
    color: var(--text);
}

.navbar ul{
    list-style: none;
    display: flex;
    gap: 50px;
}

.home-link, .home-link:visited{
    text-decoration: none;
    color: var(--text-title);
}

.page-title{
    text-align: center;
    color: var(--text);
}

.footer{
    background-color: var(--bg-light);
    display: flex;
    place-items: center;
    place-content: center;
    justify-content: space-between;
    padding: 50px 200px;
    margin-bottom: 0;
}

.footer p{
    color: var(--text);
}

.name{
    color: var(--text-title);
    font-weight: bold;
}

.active{
    color: var(--active);
    font-weight: bold;
    border-bottom: 3px solid var(--active);
}